body {
	font-family: $fontFamily;
	background-image: url(../img/fondo1.jpg);
	background-position: center;

	h1 {
		color: $colorTexto;
		text-align: center;
		text-transform: uppercase;
		padding: 20px;
		font-size: 50px;
		font-weight: bold;
	}
}