* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "variables";
@import "mixin";
@import "body";
@import "header";
@import "footer";
@import "estilobtn";

/* INDEX */

.inicio {
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;

	button a {
		text-decoration: none;
		font-weight: bold;
		padding: 5px;
	}

	.colorBtnSpotify {
		background-color: #1DB954;
		color: $colorTexto;
		transition: 0.5s;

		&:hover {
			background-color: #10a343;
			color: $colorTexto;
			transform: scale(1.1);
		}
	}
}

/* EL TROPI */

.cardTropi {
	padding: 50px;
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(3, 0, 15));
	color: $colorTexto;
}

/* SHOWS */

.fotoShow {
	width: 600px;
}

.divShow {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.textoShow {
		margin: 5% 10%;
		text-align: center;
		color: $colorTexto;
	}

	.videoShow {
		width: 80%;
		height: 500px;
		margin-bottom: 3%;
	}
}

/* PRODUCTOS */

.contenedorProductos {
	padding: 3%;

	.card {
		background-color: black;
		color: $colorTexto;
		margin: 10px 0px;
	}
}

/* CONTACTO */

.formulario {
	width: 40%;
}

form {
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 20px;

	label {
		font-weight: bold;
		color: $colorTexto;
	}

	.campos {
		width: 85%;
		padding: 10px;
		font-size: 20px;

		.btnForm {
			margin-top: 10px;
		}
	}
}

.mapa {
	display: flex;
	justify-content: center;
	align-items: center;
}

@import "mediaqueries";